.blog-share-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: none;
  padding: 30px 0px 30px 0px;
}
.single-blog-image {
  width: 90%;
  height: 600px;
  object-fit: cover;
  align-self: center;
}
@media screen and (max-width: 970px) {
  .single-blog-image {
    width: 90%;
    height: 200px;
    object-fit: cover;
    align-self: center;
  }
}
@media screen and (max-width: 430px) {
  .single-blog-image {
    width: 90%;
    height: 300px;
    object-fit: cover;
    align-self: center;
  }
}



.no_image {
  display: none;
}
.single-blog-title {
  text-transform: uppercase;
  font-size: var(--x);
  align-self: center;
  text-align: center;
}
@media screen and (max-width: 430px) {
}
.single-blog-info {
  align-self: center;
  color: var(--grey); 
}

.blog-article{width: 90%; align-self: center;}

.blog-social-cont {
  width: auto;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.blog-social-cont > li {
  margin-right: var(--m30); border-radius: 50%; width: 35px; height: 35px; box-shadow: 1px 0px 2px 1px rgb(44, 43, 43);display: flex; align-items: center; justify-content: center;
}
